<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>コメント編集</title>
  <style>
    textarea {
      width: 400px;
      height: 100px;
      overflow: scroll;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <textarea><%= comment.comment %></textarea>
  <button>提出</button>
  <script>
    document.querySelector('button').addEventListener('click', async () => {
      const text = document.querySelector('textarea').value
      await axios.patch('/comments/<%= comment.id %>', {
        comment: text
      })
      location.href = '/comments'
    })
  </script>
</body>
</html>